<% if @posts.present? %>
  <ul class="post-list">
    <% @posts.each do |post| %>
      <li class="post-item">
        <h2 class="post-title">
          <%= link_to post.title, post_path(post), class: "post-link" %>
        </h2>
        <p class="post-snippet"><%= truncate(post.body, length: 50) %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="no-results-message">該当する投稿がありません。</p>
<% end %>