@use '~bootstrap/scss/bootstrap';

@import "base";
@import "variable";


@import "components/buttons";
@import "components/cards";
@import "components/forms";
@import "components/heros";
@import "components/maps";
@import "components/searches";

@import "pages/admin/header";
@import "pages/admin/tags";
@import "pages/admin/users";

@import "pages/public/about";
@import "pages/public/posts";
@import "pages/public/reviews";