@use '~bootstrap/scss/bootstrap';

body {
    background-image: url("../images/bg_image.png");
}

@import 'bootstrap/scss/bootstrap';

.form-container {
    text-align: center;
  }
  
  .form-container input,
  .form-container textarea,
  .form-container label {
    display: block;
    margin: 0 auto;
  }