/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .search-results {
  margin: 20px auto;
  max-width: 800px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.post-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-item {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.post-item:last-child {
  border-bottom: none;
}

.post-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 5px;
}

.post-link {
  text-decoration: none;
  color: #007BFF;
}

.post-link:hover {
  text-decoration: underline;
  color: #0056b3;
}

.post-snippet {
  font-size: 14px;
  color: #555;
}

.no-results-message {
  font-size: 16px;
  color: #999;
  text-align: center;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .search-results {
    padding: 5px;
  }
  .post-title {
    font-size: 16px;
  }
  .post-snippet {
    font-size: 12px;
  }
}

.review-score {
  font-size: 1.2rem; /* 星マークのサイズを大きくする */
  margin-bottom: 0.5rem; /* 余白を確保 */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn {
  width: 100%;
  text-align: center;
}