<h1 class="mb-4 font-weight-bold text-center">ユーザー管理</h1>

<div class="table-responsive">
  <table class="table table-hover table-striped shadow-lg admin-user-table">
    <thead class="admin-user-theader">
      <tr>
        <th>ID</th>
        <th>名前</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
        <th>アクション</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr class="align-middle">
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <% if user.is_active %>
              <span class="badge bg-success">Active</span>
            <% else %>
              <span class="badge bg-secondary">Inactive</span>
            <% end %>
          </td>
          <td>
            <%= link_to "詳細", admin_user_path(user), class: "btn btn-info btn-sm rounded-pill shadow-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>