<div id ="review-form">
 <div id = "review-score">
 <%= form_with model: [@post, @review], local: true do |f| %>
  <%= f.hidden_field :score, id: "score-input" %>
  <%= f.text_area :body, placeholder:"レビュー内容を記入してください" %>
  <%= f.submit "レビューを投稿", class: btn btn-primary %>
 <% end %>
</div>    

document.addEventListner("DOMContentLoaded", () => {
  const elem = document.querySelector("#review-score");
  const scoreInput = document.querySelector("#score-input");

  raty(elem,{
    scoreName:"#review[score]"
    number: 5,
    half: true,
    starOn: "assets/images/star-on.png"
    starOff:  "assets/images/star-off.png"
    starHalf:  "assets/images/star-half.png"
    click; (score) => {
      scoreInput.value = score;
    };
  });
});