<!-- app/views/public/users/following.html.erb または followers.html.erb -->
<div class="container my-5 pt-5" id="top">
  <!-- 見出し -->
  <div class="text-center mb-5">
    <h2 class="display-4 fw-bold">
      <%= @user.name %>さん<%= action_name == "followers" ? "のフォロワー" : "のフォロー" %>
    </h2>
  </div>

  <!-- ユーザーリスト -->
  <%= render partial: 'public/users/user_list', locals: { users: @users } %>

  <!-- ページネーション -->
  <div class="mt-5 d-flex justify-content-center">
    <%= paginate @users %>
  </div>
</div>