<% flash.each do |key, message| %>
  <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show shadow-sm" role="alert">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="閉じる"></button>
  </div>
<% end %>